<ion-content>
  <div class="welcome-container fade-slide-in">
    <h1 class="fade-slide-in">Bienvenido de nuevo 👋</h1>
    <p class="fade-slide-in delay-1">Ingresa tus credenciales para continuar</p>

    <form (ngSubmit)="login()" class="fade-slide-in delay-2">
      <ion-input
        type="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        name="email"
        required
      ></ion-input>

      <ion-input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="password"
        name="password"
        required
      ></ion-input>

      <ion-button
        expand="block"
        type="submit"
        class="custom-login-button fade-slide-in delay-3"
        fill="clear"
      >
        Ingresar
      </ion-button>
    </form>

    <p *ngIf="error" style="color: #ff6b6b; margin-top: 10px; font-weight: 600;">{{ error }}</p>

    <div class="register-link fade-slide-in delay-3" (click)="goToRegister()">
      ¿No tienes cuenta? ¡Regístrate ahora!
    </div>
  </div>
</ion-content>
