ion-item.completed .item-content {
  background-color: var(--ion-color-light-shade);
  ion-label {
    text-decoration: line-through;
    color: var(--ion-color-medium);
  }
}

ion-item.cancelled .item-content {
  opacity: 0.6;
  ion-label {
    text-decoration: line-through;
  }
  .cancelled-label {
    color: var(--ion-color-danger);
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
  }
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: var(--ion-color-medium);
  text-align: center;
  padding: 16px;

  ion-icon {
    font-size: 5em;
    margin-bottom: 16px;
  }

  p {
    font-size: 1.2em;
  }
}

.item-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.task-info {
  flex-grow: 1;
}

.description {
  font-size: 0.9em;
  color: var(--ion-color-medium-shade);
  white-space: normal;
}

.due-date {
  font-size: 0.8em;
  color: var(--ion-color-medium);
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

ion-list-header {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.priority-indicator {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

ion-item {
  position: relative;
  padding-left: 10px;
}